*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
}
.heart{
    position: absolute;
    font-size: 1.8rem;
    transform: translateY(-1px);
    left: 0;
    animation: fall 3s linear forwards;
}

@keyframes fall{
    to{
        transform: translateY(550px);
    }
}