*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
button{
    padding: 20px;
    font-size: 1.7rem;
    background-color: rebeccapurple;
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}
button:hover{
    opacity: 0.9;
}